.page__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__content > h1 {
  font-size: 4rem;
  color: var(--container-fg);
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
